.features {
  position: relative;

  &::after {
    content: "II";
    position: absolute;
    left: calc(50% + 555px);
    top: 0;
    font-family: $font-accent;
    font-size: 400px;
    line-height: 1.15;
    opacity: 0.02;
    transform: translate(-50%, 0);
  }

  &__container {
    padding-top: 6.25vw;
  }

  &__list {
    display: grid;
    column-gap: 3.65vw;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 794px;

    @include mobile {
      column-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
    }
  }

  &__item {
    text-align: center;
  }

  &__image {
    padding-bottom: 2.76vw;

    @include small-tablet {
      max-width: 70px;
    }
  }

  &__content {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    color: $color-light;

    @include small-tablet {
      font-size: 16px;
    }
  }
}
