.feedback {
  &__container {
    padding-bottom: 180px;

    @include mobile {
      padding-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 38px;
  }

  &__form {
    display: grid;
    column-gap: 30px;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 35px;

    @media screen and (width < 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    /* stylelint-disable-next-line order/order */
    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
}

.form {
  &__privacy {
    @media screen and (width < 900px) {
      order: 1;
    }
  }

  &__btn {
    order: 2;
  }
}
