.footer {
  font-size: 14px;
  letter-spacing: 0.05rem;
  background-color: $color-soft-dark;

  &__container {
    padding-top: 72px;
    padding-bottom: 51px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include small-tablet {
      grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
      margin: 0 auto;
      width: max-content;
    }
  }

  &__logo {
    margin-top: -12px;

    a {
      display: inline-block;
      transition: filter 0.3s ease-in-out;

      @include hover {
        filter: drop-shadow(1px 1px 20px $color-accent);
      }
    }
  }

  &__nav-list {
    display: grid;
    gap: 15px;
  }

  &__address {
    display: grid;
    gap: 20px;
  }

  &__socials {
    display: flex;
    column-gap: 22px;
    align-items: center;
  }
}
