/* stylelint-disable-next-line import-notation */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: $font-main;
  font-size: 16px;
  color: $color-light;
  background-color: $color-dark;
}

a {
  color: $color-light;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $color-accent;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1140px;
}

svg path {
  transition: all 0.3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  clip-path: inset(50%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-hidden {
  display: none;
}

.title-h2 {
  font-family: $font-accent;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: $color-accent;

  @include mobile {
    font-size: 30px;
  }
}

.link-bold {
  font-weight: 700;
  color: $color-accent;
}

.no-scroll {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}
