// Fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// Colors
$color-dark: #242b33;
$color-accent: #d4c17f;
$color-light: #fff;
$color-soft-dark: #2d343c; /* for footer */
